git+https://github.com/snarfed/lexrpc.git#egg=lexrpc
git+https://github.com/snarfed/arroba.git#egg=arroba

bases==0.3.0
cachetools==5.5.0
carbox==0.3
cbor2==5.6.5
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
dag-cbor==0.3.3
dag-json==0.3
deprecated==1.2.14
dnspython==2.7.0
flask-sock==0.7.0
Flask==3.0.3
google-api-core==2.21.0
google-auth==2.35.0
google-cloud-appengine-logging==1.4.5
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-error-reporting==1.11.1
google-cloud-error-reporting==1.11.1
google-cloud-logging==3.11.3
google-cloud-logging==3.11.3
googleapis-common-protos==1.65.0
grapheme==0.6.0
grpc-google-iam-v1==0.13.1
grpcio-status==1.67.0
grpcio==1.67.0
gunicorn==23.0.0
h11==0.14.0
idna==3.10
importlib-metadata==8.4.0
iterators==0.2.0
Jinja2==3.1.4
lexrpc==1.0
libipld==1.2.3
MarkupSafe==3.0.2
multiformats-config==0.3.1
multiformats==0.3.1.post4
opentelemetry-api==1.27.0
packaging==24.1
proto-plus==1.24.0
protobuf==5.28.2
pyasn1-modules==0.4.1
pyasn1==0.6.1
pycparser==2.22
pyjwt==2.9.0
requests==2.32.3
rsa==4.9
simple-websocket==1.1.0
typing-extensions==4.12.2
typing-validation==1.2.11.post4
urllib3==2.2.3
Werkzeug==3.0.4
wrapt==1.16.0
wsproto==1.2.0
zipp==3.20.2
